pandas
numpy 
seaborn
matplotlib
scikit-learn
catboost
dill 
-e .

# Whenever i am trying to run requiremnts.txt at that time setup.py must also run to build the packages
# Therefore we write -e . as it'll trigger setup.py file 
